{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('add_task_success') %}
			<div class="alert alert-success d-flex justify-content-center">
				{{ message }}
			</div>
		{% endfor %}
		<h1>Tasks</h1>
		<a href="{{ path('show.lists') }}">
			<button type="button" class="btn btn-primary btn-sm">Back to lists</button>
		</a>
		<hr>
		<table class="table table-striped">
			<thead>
				<tr class="fw-bold">
					<td>ID</td>
					<td>Task</td>
					<td>List</td>
					<td>Category</td>
					<td>Deadline</td>
					<td>Finished</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					{% if task.finished == 0 %}
						<tr>
							<td>{{task.id}}</td>
							<td>
								<a href="{{ path('show.one_task', {listname: task.listname, id: task.id}) }}">{{ task.task }}</a>
							</td>
							<td>{{ task.listname }}</td>
							<td>{{ task.category }}</td>
							<td>{{ task.deadline|date('Y-m-d') }}</td>
							<td>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="">
								</div>
							</td>
							<td>
								<button class="btn btn-outline-warning btn-sm">Edit</button>
								<button class="btn btn-outline-danger btn-sm">Delete</button>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('show.add_new_task', {listname: listname}) }}">
			<button type="button" class="btn btn-success btn-sm">Add task</button>
		</a>
		<br><br><br>
		<h3 class="text text-success">Completed</h3>
		<hr>
		<table class="table table-striped">
			<thead>
				<tr class="fw-bold">
					<td>ID</td>
					<td>Task</td>
					<td>Category</td>
					<td>Deadline</td>
					<td>Finished</td>
					<td>Date</td>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					{% if task.finished == 1 %}
						<tr>
							<td>{{task.id}}</td>
							<td>
								<a href="{{ path('show.one_task', {listname: task.listname, id: task.id}) }}">{{task.task}}</a>
							</td>
							<td>{{task.category}}</td>
							<td>{{task.deadline|date('Y-m-d')}}</td>
							<td>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="" checked>
								</div>
							</td>
							<td>{{task.enddate|date('Y-m-d')}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
