{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>TODO lists</h1>
		<hr>
		<table class="table table-striped">
			<thead>
				<tr class="fw-bold">
					<td>ID</td>
					<td>List name</td>
					<td>Description</td>
					<td>Tasks</td>
					<td>Progress</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				{% for list in lists %}
					<tr>
						<td>{{ list.id }}</td>
						<td>
							<a href="{{ path('show.all_tasks', { listname: list.listname }) }}">{{ list.listname }}</a>
						</td>
						<td>{{ list.description }}</td>
						{% for taskstat in taskstats %}
							{% if list.listname == taskstat.listname %}
								<td>
									{{ taskstat.tasks }}
								</td>
								<td>{{ ((taskstat.progress / taskstat.tasks)*100)|number_format('0', '.', ' ') }}%</td>
							{% endif %}
						{% endfor %}
						<td>
							<button class="btn btn-danger btn-sm">Delete</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<button class="btn btn-success">Create new list</button>
	</div>
{% endblock %}
