{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('create_list_success') %}
			<div class="alert alert-success d-flex justify-content-center">
				{{ message }}
			</div>
		{% endfor %}
		<h1>TODO lists</h1>
		<hr>
		<table class="table table-striped">
			<thead>
				<tr class="fw-bold">
					<td>ID</td>
					<td>List name</td>
					<td>About list</td>
					<td>Tasks</td>
					<td>Progress</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				{% for list in lists %}
					<tr>
						<td>{{ list.id }}</td>
						<td>
							<a href="{{ path('show.all_tasks', { listname: list.listname }) }}">{{ list.listname }}</a>
						</td>
						<td>{{ list.aboutlist }}</td>
						<td>
							{% for taskstat in taskstats %}
								{% if taskstat.listname == list.listname %}
									{{ taskstat.tasks }}
								{% endif %}
							{% endfor %}
						</td>
						<td>
							{% for taskstat in taskstats %}
								{% if taskstat.listname == list.listname %}
									{{ ((taskstat.progress / taskstat.tasks)*100)|number_format('0', '.', ' ') }}%
								{% endif %}
							{% endfor %}
						</td>
						<td>
							<a href="#">
								<button class="btn btn-danger btn-sm">Delete</button>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<a href="{{ path('show.create_new_list') }}">
		<button class="btn btn-success btn-sm">Create new list</button>
	</a>
</div>{% endblock %}
